{%extends 'base.html'%}

{%block title%}
  Produtos
{%endblock%}

{%block conteudos%}
<h2 style="text-align: center;" >Produtos</h2>

<hr>
<table class="table table-hover table-dark table-bordered">
   <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">NOME</th>
      <th scope="col">COD_BARRA</th>
      <th scope="col">Preco</th>
      <th scope="col">DESCRICAO</th>
      <th scope="col">AÇOES</th>
    </tr>
   </thead>
   <tbody>  
    {% for item in itens%}
    <tr>
      <td>{{item.id}}</td>
      <td>{{item.nome}}</td>
      <td>{{item.cod_barra}}</td>
      <td>{{item.preco}}</td>
      <td>{{item.descricao}}</td>
      <td>
        <button class="btn btn-outline btn-info ">Mais informações</button>
        <button class="btn btn-outline btn-success ">Comprar este produtos</button>
      <td>
    </tr>
    {%endfor%}
   </tbody>
</table>

{%endblock%}
